<!--About section-->
<section id="about" class="bgGreenDark">


    <!--Container-->
    <div class="container clearfix">

        <!--Intro-->
        <div class="one-third column intro">
            <h1>A bit about me</h1>
            <p>I am a Computer Science and Business (Information Systems) double-major student
                in the University of Hong Kong, currently on exchange to the University of Maryland.
                Artificial Intelligence and Machine Learning are topics I most interested in.
                I would like to make computers smarter to serve the world better. </p>
        </div>
        <!--End intro-->

        <!--Profile-->
        <div class="one-third column profile tCenter bgGreyDark">
            <div class="innerProfile ">
                <div class="introTitle">
                    <h1 class="prfTitle">Hinnes Lung<span>Student - Developer</span></h1>
                    <img alt="" src="images/starL.png">
                </div>
                <div class="imgProfile">
                    <img alt="" src="images/profileImages/profileMedium.jpg">
                </div>

                <a class=" btnLaunch " href="../docs/resume_hinneslung.pdf" target="_blank">download my resume</a>

            </div>
        </div>
        <!--End profile-->

        <!--Info-->
        <div class="one-third column info">
            <h1>Personal info</h1>
            <ul>
                <li><span>Birthdate</span> : 8<sup>th</sup> February</li>
                <li><span>Email</span> : <a style="text-decoration: underline; color: white;" href="mailto:hinneslung@gmail.com">hinneslung@gmail.com</a></li>
                <li><span>Address</span> : University of Maryland, College Park</li>
            </ul>



        </div>
        <!--End info-->

    </div>
    <!--End container-->


</section>
<!--End about section-->