<!--Blog section-->
<section id="activities" class=" blog tCenter ofsTop">




    <!--Big title-->
    <div class="bigTitle ">
        <h1>latest activities</h1>
        <img src="images/star.png" alt="">
    </div>
    <!--End big title-->



    <!--Container-->
    <div class="container clearfix">


        <!--Small intro-->
        <div class="smallIntro margBottom">
            <p>Here, are some interesting activities<br>I joined recently
            </p>
        </div>
        <!--End small intro-->

    </div>
    <!--End container-->

    <!--Blog inner-->
    <div class="blogInner offsetBottom clearfix">


        <!--Post last-->
        <div class="pstL clearfix bgGrey">

            <!--Container-->
            <div class="container clearfix">


                <!--Post last holder-->
                <div class="twelve columns postLHolder">
                    <!--Post last inner-->
                    <div class="pstLInner ofsInTop ofsInBottom clearfix">

                        <div class="pstlIco">
                            <!--<span class="ico"><i class="fa fa-fire" aria-hidden="true"></i></span>-->
                            <span class="ico"><img src="http://bitca.mp/assets/img/bitcamp-logo.svg"></span>
                        </div>

                        <div class="pstlDet">

                            <div class="postTitle">
                                <h1> <a href="http://bitca.mp/" target="_blank">Bitcamp 2016</a></h1>
                            </div>


                            <div class="postMeta">
                                <span class="metaDate">8 - 10 April 2016</span>
                            </div>

                            <p>
                                Bitcamp is the annual hackathon event in the University of Maryland.
                                The 36-hour exploration event provides opportunities to learn and make something new,
                                together with hundreds of fellow campers.
                                In a team of 3, we built a tool for looking for the best photo spots:
                                <br>
                            </p>

                            <a class="blContinue" href="http://hinnes.me/photolicious/#/" target="_blank">Photolicious</a>

                        </div>
                    </div>
                    <!--End post last inner-->
                </div>
                <!--End post last holder-->
            </div>
            <!--End container-->
        </div>
        <!--End post last-->

        <!--Post last-->
        <div class="pstL clearfix bgGrey">

            <!--Container-->
            <div class="container clearfix">


                <!--Post last holder-->
                <div class="twelve columns postLHolder">
                    <!--Post last inner-->
                    <div class="pstLInner ofsInTop ofsInBottom clearfix">

                        <div class="pstlIco">
                            <!--<span class="ico"><i class="fa fa-fire" aria-hidden="true"></i></span>-->
                            <span class="ico"><img src="../images/isa.png"></span>
                        </div>

                        <div class="pstlDet">

                            <div class="postTitle">
                                <h1> <a href="http://hku.hk/hkuisa" target="_blank">Information Systems Association</a></h1>
                            </div>


                            <div class="postMeta">
                                <span class="metaDate">2013 - 2014</span>
                            </div>

                            <p>
                                Information Systems Association (ISA) is the official student representative body of
                                the BBA(IS)/BEng(CS) double-degree programme in the University of Hong Kong.
                                As the External Vice-President and the Information Technology Officer of ISA,
                                I was responsible for the promotion of better relationship with external bodies and
                                the maintenance and development of membership information system.
                                <br>
                            </p>

                            <a class="blContinue" href="http://hku.hk/hkuisa" target="_blank">Website</a>

                        </div>
                    </div>
                    <!--End post last inner-->
                </div>
                <!--End post last holder-->
            </div>
            <!--End container-->
        </div>
        <!--End post last-->

    </div>

    <!--End blog inner-->

</section>
<!--End blog section-->