<!--Contact section-->
<section id="contact" class=" contact  ofsTop margHBottom">

    <!--Big title-->
    <div class="bigTitle tCenter">
        <h1>get in touch with me</h1>
        <img src="images/star.png" alt="">
    </div>
    <!--End big title-->

    <!--Container-->
    <div class="container clearfix">

        <div class="smallIntro margBottom tCenter">
            <p>Have some projects ? or simply you wish to say hello, feel free to get in touch
            </p>
        </div>

    </div>
    <!--End container-->

    <!--Contact inner-->
    <div class="contactInner clearfix">

        <!--Container-->
        <div class="container clearfix">

            <div class="sixteen columns">

                <!--Contact form-->
                <div class="contactForm">
                    <form action="send.php" method="post">

                        <!--Input columns-->
                        <div class="inputColumns clearfix">

                            <div class="column1">
                                <div class="columnInner">
                                    <input type="text" name="name" id="name" value="" placeholder="Name *">
                                </div>
                            </div>

                            <!--Column-->
                            <div class="column2">
                                <div class="columnInner">
                                    <input type="text" name="email" id="email" value="" placeholder="Email *">
                                </div>
                            </div>
                            <!--End column-->

                        </div>
                        <!--End input columns-->


                        <!--Input columns-->
                        <div class="inputColumns clearfix">

                            <div class="column1">
                                <div class="columnInner">
                                    <input type="text" name="website" id="website" value="" placeholder="WebSite">
                                </div>
                            </div>

                            <!--Column-->
                            <div class="column2">
                                <div class="columnInner">
                                    <input type="text" name="subject" id="subject" value="" placeholder="Subject ">
                                </div>
                            </div>
                            <!--End column-->

                        </div>
                        <!--End input columns-->

                        <textarea rows="10" cols="45" id="message" placeholder="Message *" name="message"></textarea>
                        <div id="submit" class="btn">Send Message</div>
                    </form>

                    <!--Contact form message-->
                    <div id="success"><h2>Your message has been sent. Thank you!</h2></div>
                    <div id="error"><h2>Sorry your message can not be sent.</h2></div>
                    <!--End contact form message-->
                </div>
                <!--End contact form-->
            </div>

        </div>
        <!--End container-->
    </div>
    <!--End contact inner-->
</section>
<!--End contact section-->