<!--Contact section-->
<section id="contact" class=" contact  ofsTop margHBottom">

    <!--Big title-->
    <div class="bigTitle tCenter">
        <h1>get in touch with me</h1>
        <img src="images/star.png" alt="">
    </div>
    <!--End big title-->

    <!--Container-->
    <div class="container clearfix">

        <div class="smallIntro margBottom tCenter">
            <p>Wish to say hello?<br>Feel free to get in touch. (Use real email please)
            </p>
        </div>

    </div>
    <!--End container-->

    <!--Contact inner-->
    <div class="contactInner clearfix">

        <!--Container-->
        <div class="container clearfix">

            <div class="sixteen columns">

                <!--Contact form-->
                <div class="contactForm">
                    <form name="contactForm" novalidate>

                        <!--Input columns-->
                        <div class="inputColumns clearfix">

                            <div class="column1">
                                <div class="columnInner">
                                    <input type="text" placeholder="Name *" ng-model="name" required>
                                </div>
                            </div>

                            <!--Column-->
                            <div class="column2">
                                <div class="columnInner">
                                    <input type="email" placeholder="Email *" ng-model="email" required>
                                </div>
                            </div>
                            <!--End column-->

                        </div>
                        <!--End input columns-->


                        <textarea rows="10" cols="45" placeholder="Message *"  ng-model="content" required></textarea>
                        <div id="submit" class="btn" ng-click="contactForm.$valid && submit()">
                            Send Message
                        </div>
                    </form>

                    <!--Contact form message-->
                    <br>
                    <div ng-show="sent"><h2>Your message has been sent. Thank you! (Check your mailbox)</h2></div>
                    <!--End contact form message-->
                </div>
                <!--End contact form-->
            </div>

        </div>
        <!--End container-->
    </div>
    <!--End contact inner-->
</section>
<!--End contact section-->

<style type="text/css">
    input.ng-invalid.ng-touched {
        border-color: #FA787E;
    }

    textarea.ng-invalid.ng-touched {
        border-color: #FA787E;
    }

    input.ng-valid.ng-touched {
        border-color: #3eafab;
    }

    textarea.ng-valid.ng-touched {
        border-color: #3eafab;
    }
</style>