<!--Footer-->
<footer id="footer" class="footer tCenter">

    <!--Footer top-->
    <div class="footerTop ofsInTop ofsBMedium">
        <!--Container-->
        <div class="container clearfix">

            <!--Footer top inner-->
            <div class="ftInner">
                <ul class="socialsFooter">



                    <li><a target="_blank" href="https://twitter.com/hinneslung"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="http://www.facebook.com/hinneslung"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/hinnes"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/hinnes"><i class="fa fa-instagram"></i></a></li>

                </ul>

            </div>
            <!--End footer top inner-->

        </div>
        <!--End container-->

    </div>
    <!--End footer top-->




    <!--Footer bottom-->
    <div class="footerBottom ofsTSmall ofsBSmall">
        <!--Container-->
        <div class="container clearfix">

            <!--Footer bottom inner-->
            <div class="fbInner">

                <p>&copy; 2016 <span class="brand">Hinnes</span> All Rights Reserved.</p>

            </div>

            <!--End footer bottom inner-->


        </div>
        <!--End container-->
    </div>
    <!--End footer bottom-->


</footer>
<!--End footer-->