<!--Portfolio section-->
<section id="portfolio">
    <!--Title grey holder -->
    <div class="tgreyHolder bgGrey ofsInTop">


        <!--Big title-->
        <div class="bigTitle tCenter">
            <h1>our portfolio</h1>
            <img src="images/star.png" alt="">
        </div>
        <!--End big title-->
    </div>
    <!--End title grey holder-->

    <!--Container-->
    <div class="container clearfix">

        <!-- Filter nav -->
        <div class="filterNav ofsInTop ofsInBottom">
            <ul id="category" class="filter">
                <li class="all current"><a href="#">All</a></li>
                <li class="catWeb"><a href="#"> Web Design</a></li>
                <li class="catGraphic"><a href="#">Graphic Design</a></li>
                <li class="catMotion"><a class="last" href="#">Motion Graphic</a></li>
            </ul>
        </div>
        <!-- End filter nav -->
    </div>
    <!--End container-->

    <!--Container-->
    <div class="container clearfix">
        <!-- Works list -->
        <div class=" works clearfix ">
            <!--Portfolio-->
            <ul class="portfolio clearfix tCenter">

                <li class="item one-third column " data-id="id-1" data-type="catWeb">
                    <div class="itemDesc">

                        <div class="itemDescInner">
                            <h3>Testy Raspberry<span> - web design</span></h3>
                            <div class=" itemBtn ">
                                <a  href="images/portfolioImages/w1.jpg" class=" folio"><i class="fa fa-expand"></i></a>
                                <a href="project.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <img src="images/portfolioImages/w1.jpg" alt="">
                </li>

            </ul>
            <!--End portfolio-->
        </div>
        <!-- End works list -->
    </div>
    <!--End container-->
</section>
<!--End portfolio section-->