<!--Resume section-->

<section id="resume" class="tCenter">

    <div class="tgreyHolder bgGrey ofsTMedium">
        <!--Big title-->
        <div class="bigTitle ">
            <h1>my employment</h1>
            <img alt="" src="images/star.png">
        </div>
        <!--End big title-->
    </div>


    <!--Container-->
    <div class="container clearfix">


        <!--Resume details-->
        <div class="twelve columns resumeDetails margHTop margHBottom">

            <!--Employment-->
            <div class="employment">
                <!--Em-->
                <div class="em clearfix">
                    <div class="dtIco">
                        <span class="ico"><i class="fa fa-suitcase"></i></span>
                    </div>

                    <div class="det">
                        <h3>WebDesigner <span>– Mutation Media</span> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>2005 - 2014</span>
                        </div>
                    </div>
                </div>
                <!--End em-->


                <!--Em-->
                <div class="em clearfix">
                    <div class="dtIco">
										<span class="ico"><i class="fa fa-suitcase"></i>
										</span>
                    </div>

                    <div class="det">
                        <h3>Web Developer <span>– Mutation Media</span> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>2005 - 2014</span>

                        </div>
                    </div>
                </div>
                <!--End em-->

                <!--Em-->
                <div class="em clearfix">
                    <div class="dtIco">
										<span class="ico"><i class="fa fa-suitcase"></i>
										</span>
                    </div>

                    <div class="det">
                        <h3>SDK Developer <span>– Mutation Media</span> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>2005 - 2014</span>

                        </div>
                    </div>
                </div>
                <!--End em-->


            </div>
            <!--End employment-->

        </div>
        <!--End resume details-->

    </div>
    <!--End container-->




    <div class="tdarkHolder bgGreyDark ofsTMedium">
        <!--Big title-->
        <div class="bigTitle dark">
            <h1>my education</h1>
            <img alt="" src="images/starL.png">
        </div>
        <!--End big title-->
    </div>


    <!--Container-->
    <div class="container clearfix">


        <!--Resume details-->
        <div class="twelve columns resumeDetails margHTop margHBottom">

            <!--Education-->
            <div class="education">
                <!--Ed-->
                <div class="ed clearfix">
                    <div class="dtIco">
                        <span class="ico"><i class="fa fa-graduation-cap"></i></span>
                    </div>

                    <div class="det">
                        <h3>Bachelor Degree <span>– Mutation Media</span> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>2005 - 2014</span>

                        </div>
                    </div>
                </div>
                <!--End ed-->


                <!--Ed-->
                <div class="ed clearfix">
                    <div class="dtIco">
                        <span class="ico"><i class="fa fa-graduation-cap"></i></span>
                    </div>

                    <div class="det">
                        <h3>Master Degree <span>– Mutation Media</span> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>2005 - 2014</span>

                        </div>
                    </div>
                </div>
                <!--End ed-->

                <!--Ed-->
                <div class="ed clearfix">
                    <div class="dtIco">
                        <span class="ico"><i class="fa fa-graduation-cap"></i></span>
                    </div>

                    <div class="det">
                        <h3>School Of Science <span>– Mutation Media</span> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>2005 - 2014</span>

                        </div>
                    </div>
                </div>
                <!--End ed-->


            </div>
            <!--End education-->

        </div>
        <!--End resume details-->

    </div>
    <!--End container-->


    <!--Recognition-->
    <div class="recognition tLeft">


        <!--Recognition holder-->
        <div class="recognitionHolder bgGrey">

            <!--Recognition image-->
            <div class="imgrecognition"></div>
            <!--End recognition image-->


            <!--Container-->
            <div class="container clearfix">

                <!--Recognition intro-->
                <div class="rcgIntro eight columns margHTop margHBottom">
                    <h1>Recognition</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>


                </div>
                <!--End recognition intro-->




                <!--Recognition details-->
                <div class="rcgDetails eight columns margHTop margLBottom">


                    <!--Rcg-->
                    <div class="rcg clearfix ofsBSmall">
                        <div class="rcgIco">
                            <span class="ico"><i class="icon icon-genius"></i></span>
                        </div>

                        <div class="rcgDet">
                            <h1>Extreme WebDesign Contest</h1>
                            <h3>Best WebDesign<span>MMIT University Morocco</span></h3>
                        </div>
                    </div>
                    <!--End rcg-->




                    <!--Rcg-->
                    <div class="rcg clearfix ofsBSmall">
                        <div class="rcgIco">
                            <span class="ico"><i class="icon icon-puzzle"></i></span>
                        </div>

                        <div class="rcgDet">
                            <h1>Award App Design Contest</h1>
                            <h3>Special Mention<span>Creatimawards Morocco</span></h3>
                        </div>
                    </div>
                    <!--End rcg-->




                    <!--Rcg-->
                    <div class="rcg clearfix ofsBSmall">
                        <div class="rcgIco">
                            <span class="ico"><i class="icon icon-hotairballoon"></i></span>
                        </div>

                        <div class="rcgDet">
                            <h1>Flash Animation Contest</h1>
                            <h3>Animation Design<span>Morocco Web Awards</span></h3>
                        </div>
                    </div>
                    <!--End rcg-->



                    <!--Rcg-->
                    <div class="rcg clearfix ofsBSmall">
                        <div class="rcgIco">
                            <span class="ico"><i class="icon icon-picture"></i></span>
                        </div>

                        <div class="rcgDet">
                            <h1>Best Photographer </h1>
                            <h3>First Place<span>Morocco Web Awards</span></h3>
                        </div>
                    </div>
                    <!--End rcg-->


                </div>
                <!--End recognition details-->




            </div>
            <!--End container-->

        </div>
        <!--End recognition holder-->

    </div>
    <!--End recognition-->




    <!--Skills-->
    <div class="skills ofsTop ">

        <!--Big title-->
        <div class="bigTitle ">
            <h1>my skills and expertise</h1>
            <img src="images/star.png" alt="">
        </div>
        <!--End big title-->

        <!--Container-->
        <div class="container clearfix">


            <!--Small intro-->
            <div class="smallIntro margBottom">
                <p>I am a Creative freelancer i design and develop for the web & mobile
                </p>
            </div>
            <!--End small intro-->

            <!--Skill-->
            <div class="skill ofsInBottom">

                <!--Skill title-->
                <div class="skillTitle ofsInBottom">
                    <h1>Programming Skills</h1>
                </div>
                <!--End skill title-->

                <!--Skill inner-->
                <div class="skillInner">
                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">Web Design</div>
                            <div class="percentage progra percent90"></div>
                        </div>
                    </div>

                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">Wordpress</div>
                            <div class="percentage progra percent50"></div>
                        </div>
                    </div>

                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">Jquery</div>
                            <div class="percentage progra percent60"></div>
                        </div>
                    </div>

                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">Html/Css</div>
                            <div class="percentage progra percent95"></div>
                        </div>
                    </div>
                </div>
                <!--End skill inner-->
            </div>
            <!--End skill-->

            <!--Skill-->
            <div class="skill ofsInBottom">

                <!--Skill title-->
                <div class="skillTitle ofsInBottom">
                    <h1>Programming Skills</h1>
                </div>
                <!--End skill title-->

                <!--Skill inner-->
                <div class="skillInner">
                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">Web Design</div>
                            <div class="percentage progra percent90"></div>
                        </div>
                    </div>

                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">Wordpress</div>
                            <div class="percentage progra percent50"></div>
                        </div>
                    </div>

                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">Jquery</div>
                            <div class="percentage progra percent60"></div>
                        </div>
                    </div>

                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">Html/Css</div>
                            <div class="percentage progra percent95"></div>
                        </div>
                    </div>

                </div>
                <!--End skill inner-->

            </div>
            <!--End skill-->

            <!--Skills content-->
            <div class="skillsContent  twelve columns   margHBottom tLeft">

                <!--Skill-->
                <div class="skill ofsInBottom">

                    <!--Skill title-->
                    <div class="skillTitle ofsInBottom">
                        <h1>graphic skills</h1>
                    </div>
                    <!--End skill title-->

                    <!--Skill inner-->
                    <div class="skillInner">
                        <div class="skillBar">
                            <div class="skillbarHolder">
                                <div class="skillbarTitle">photoshop</div>
                                <div class="percentage graphic percent90"></div>
                            </div>
                        </div>



                        <div class="skillBar">
                            <div class="skillbarHolder">
                                <div class="skillbarTitle">indesign</div>
                                <div class="percentage graphic percent70"></div>
                            </div>
                        </div>

                        <div class="skillBar">
                            <div class="skillbarHolder">
                                <div class="skillbarTitle">illustrator</div>
                                <div class="percentage graphic percent60"></div>
                            </div>
                        </div>

                    </div>
                    <!--End skill inner-->
                </div>
                <!--End skill-->


                <!--Skill-->
                <div class="skill ofsInBottom">

                    <!--Skill title-->
                    <div class="skillTitle ofsBSmall">
                        <h1>personal skills</h1>
                    </div>
                    <!--End skill title-->


                    <!--Skill inner-->
                    <div class="skillInner">
                        <div class="introSkill">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                                officia deserunt mollitia animi, id est laborum et dolorum fuga.
                                Et harum quidem rerum facilis est et expedita distinctio iusto odio dignissimos ducimus qui blanditiis. </p>
                        </div>


                        <div class="personal ofsTSmall clearfix">
                            <ul class="pList">
                                <li><i class="fa fa-arrow-circle-o-right"></i>Responsible</li>
                                <li><i class="fa fa-arrow-circle-o-right"></i>Diligence</li>
                                <li><i class="fa fa-arrow-circle-o-right"></i>Labour</li>
                                <li><i class="fa fa-arrow-circle-o-right"></i>Rigor</li>
                            </ul>


                            <ul class="pList">
                                <li><i class="fa fa-arrow-circle-o-right"></i>Creative</li>
                                <li><i class="fa fa-arrow-circle-o-right"></i>Funny</li>
                                <li><i class="fa fa-arrow-circle-o-right"></i>Great Communicator</li>
                                <li><i class="fa fa-arrow-circle-o-right"></i>Flexible</li>
                            </ul>


                            <ul class="pList">
                                <li><i class="fa fa-arrow-circle-o-right"></i>Personal integrity</li>
                                <li><i class="fa fa-arrow-circle-o-right"></i>Positive work ethic</li>
                                <li><i class="fa fa-arrow-circle-o-right"></i>Team oriented</li>
                                <li><i class="fa fa-arrow-circle-o-right"></i>Reliability</li>

                            </ul>

                        </div>


                    </div>
                    <!--End skill inner-->


                </div>
                <!--End skill-->



                <!--Skill-->
                <div class="skill ofsBMedium">

                    <!--Skill title-->
                    <div class="skillTitle ofsBSmall">
                        <h1>languages skills</h1>
                    </div>
                    <!--End skill title-->


                    <!--Skill inner-->
                    <div class="skillInner">
                        <ul class="langList clearfix">
                            <li>
                                <h4>English</h4>
                                <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span class="transparent"><i class="fa fa-star"></i></span>
                                </div>
                            </li>
                            <li>
                                <h4>Cantonese</h4>
                                <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                            </li>
                            <li>
                                <h4>Mandarin</h4>
                                <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span class="transparent"><i class="fa fa-star"></i></span>
                                    <span class="transparent"><i class="fa fa-star"></i></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--End skill inner-->
                </div>
                <!--End skill-->

                <!--Bet Buttons-->
                <div class="getBtn">

                    <div class="getCv">
                        <a href="#"><i class="fa fa-arrow-circle-o-down"></i>
                            <h3>Download My CV</h3>
                        </a>
                    </div>

                    <div class="printCV">
                        <a href="#"><i class="fa fa-print"></i>
                            <h3>print My CV</h3>
                        </a>
                    </div>

                </div>
                <!--End get buttons--
            </div>
            <!--End skills content-->
        </div>
        <!--End container-->
    </div>
    <!--End skills-->
</section>
<!--End resume section-->