<!--Resume section-->

<section id="experience" class="tCenter">

    <div class="tgreyHolder bgGrey ofsTMedium">
        <!--Big title-->
        <div class="bigTitle ">
            <h1>my experience</h1>
            <img alt="" src="images/star.png">
        </div>
        <!--End big title-->
    </div>


    <!--Container-->
    <div class="container clearfix">


        <!--Resume details-->
        <div class="twelve columns resumeDetails margHTop margHBottom">

            <!--Employment-->
            <div class="employment">

                <!--Em-->
                <div class="em clearfix">
                    <div class="dtIco">
                        <span class="ico"><i class="fa fa-suitcase"></i></span>
                    </div>

                    <div class="det">
                        <h3>iOS Developer <span>
                            - <a href="http://www.antek.com.hk/" target="_blank"> Antek Pacific Limited</a>
                        </span> </h3>
                        <p>
                            Development of an iPad app prototype which makes video calls and communicates
                            with PC station in a team of 2.<br>
                            Tools used: Objective-C, Xcode, OpenTok
                        </p>
                        <a class="blContinue" href="http://www.antek.com.hk/" target="_blank">Antek Pacific Ltd</a>
                        <br>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>July 2013</span>
                        </div>
                    </div>
                </div>
                <!--End em-->

                <!--Em-->
                <div class="em clearfix">
                    <div class="dtIco">
                        <span class="ico"><i class="fa fa-suitcase"></i></span>
                    </div>

                    <div class="det">
                        <h3>Application Developer <span>
                            - <a href="http://www.egusi.com.hk/" target="_blank"> EGUSI</a>
                            (project-based)</span>
                        </h3>
                        <p>Development of a PhoneGap app based on an existing website in a team of 3.<br>
                            Tools used: HTML5, CSS, JavaScript, PhoneGap, Xcode, Eclipse
                        </p>
                        <a class="blContinue" href="http://www.egusi.com.hk/" target="_blank">EGUSI</a>
                        <br>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>June - Aug 2014</span>
                        </div>
                    </div>
                </div>
                <!--End em-->


                <!--Em-->
                <div class="em clearfix">
                    <div class="dtIco">
										<span class="ico"><i class="fa fa-suitcase"></i>
										</span>
                    </div>

                    <div class="det">
                        <h3>iOS Developer <span>
                            - <a href="http://www.egusi.com.hk/" target="_blank"> EGUSI</a>
                            (project-based)</span>
                        </h3>
                        <p>Development of a social payment iOS app Cashyou in a team of 3.<br>
                            Tools used: Swift, Xcode</p>
                        <a class="blContinue" href="http://www.egusi.com.hk/" target="_blank">EGUSI</a>
                        <br>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>jan - feb 2015</span>
                        </div>
                    </div>
                </div>
                <!--End em-->

                <!--Em-->
                <div class="em clearfix">
                    <div class="dtIco">
                        <span class="ico"><i class="fa fa-suitcase"></i></span>
                    </div>

                    <div class="det">
                        <h3>Project Manager & Developer <span>- Project QQB (self-employed)</span> </h3>
                        <p>Development of a shopping mobile app in a team of 4.<br>
                            Responsible for project management from requirement engineering to delivery.<br>
                            Major features: online payment with Alipay, instant messaging, forum<br>
                            Tools used: PHP, Node.js, MySQL, Swift, Xcode, Socket.IO, Alipay API</p>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>jun - aug 2016</span>

                        </div>
                    </div>
                </div>
                <!--End em-->
            </div>
            <!--End employment-->
        </div>
        <!--End resume details-->
    </div>
    <!--End container-->




    <div class="tdarkHolder bgGreyDark ofsTMedium"  id="academic">
        <!--Big title-->
        <div class="bigTitle dark">
            <h1>academic</h1>
            <img alt="" src="images/starL.png">
        </div>
        <!--End big title-->
    </div>


    <!--Container-->
    <div class="container clearfix">
        <!--Resume details-->
        <div class="twelve columns resumeDetails margHTop margHBottom">

            <!--Education-->
            <div class="education">
                <!--Ed-->
                <div class="ed clearfix">
                    <div class="dtIco">
                        <span class="ico"><i class="fa fa-graduation-cap"></i></span>
                    </div>

                    <div class="det">
                        <h3><a href="http://www.qc.edu.hk/" target="_blank">
                            Queen's College
                        </a></h3>
                        <a class="blContinue" href="http://www.qc.edu.hk" target="_blank">Website</a>
                        <br>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>2007 - 2013</span>

                        </div>
                    </div>
                </div>
                <!--End ed-->


                <!--Ed-->
                <div class="ed clearfix">
                    <div class="dtIco">
                        <span class="ico"><i class="fa fa-graduation-cap"></i></span>
                    </div>

                    <div class="det">
                        <h3>
                            <a href="http://hku.hk" target="_blank">The University of Hong Kong</a>
                            <span>– Undergraduate</span>
                        </h3>
                        <a class="blContinue" href="http://hku.hk" target="_blank">Website</a>
                        <br>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>2013 - 2017</span>

                        </div>
                    </div>
                </div>
                <!--End ed-->

                <!--Ed-->
                <div class="ed clearfix">
                    <div class="dtIco">
                        <span class="ico"><i class="fa fa-graduation-cap"></i></span>
                    </div>
                    <div class="det">
                        <h3>
                            <a href="http://umd.edu" target="_blank">University of Maryland</a>
                            <span>– Exchange Program</span>
                        </h3>
                        <a class="blContinue" href="http://umd.edu" target="_blank">Website</a>
                        <br>
                        <div class="date">
                            <i class="fa fa-calendar-o"></i>
                            <span>Spring 2016</span>

                        </div>
                    </div>
                </div>
                <!--End ed-->
            </div>
            <!--End education-->
        </div>
        <!--End resume details-->
    </div>
    <!--End container-->


    <!--Recognition-->
    <div class="recognition tLeft">
        <!--Recognition holder-->
        <div class="recognitionHolder bgGrey">
            <!--Recognition image-->
            <div class="imgrecognition"></div>
            <!--End recognition image-->

            <!--Container-->
            <div class="container clearfix">

                <!--Recognition intro-->
                <div class="rcgIntro eight columns margHTop margHBottom">
                    <h1>Course Highlights</h1>
                    <p>
                        <!--Courses I took-->
                    </p>

                </div>
                <!--End recognition intro-->

                <!--Recognition details-->
                <div class="rcgDetails eight columns margHTop margLBottom">

                    <!--Rcg-->
                    <div class="rcg clearfix ofsBSmall">
                        <div class="rcgIco">
                            <span class="ico"><i class="icon icon-puzzle"></i></span>
                        </div>

                        <div class="rcgDet">
                            <h1><a href="http://www.cs.hku.hk/programme/beng-cs/course-description.jsp" target="_blank">
                                Software Engineering
                            </a></h1>
                            <h3>HKU - Mr. George Mitcheson<span>
                                This course equips me the skills to write high quality software in a maintainable way
                                by covering the fundamental principles of
                                Software Engineering. Various processes and methods involved in the
                                development of modern systems are introduced. The use of UML is emphasized in the course.
                                A major component of the course is a team-based project in which we apply
                                Software Engineering skills in the full development lifecycle of a simple system,
                                from requirement engineering to maintenance.
                            </span></h3>
                            <a class="blContinue" href="http://www.cs.hku.hk/programme/beng-cs/course-description.jsp" target="_blank">Website</a>
                        </div>
                    </div>
                    <!--End rcg-->

                    <!--Rcg-->
                    <div class="rcg clearfix ofsBSmall">
                        <div class="rcgIco">
                            <span class="ico"><i class="icon icon-genius"></i></span>
                        </div>

                        <div class="rcgDet">
                            <h1><a href="http://www.cs.hku.hk/programme/beng-cs/course-description.jsp" target="_blank">
                                Algorithms and Data Structures
                            </a></h1>
                            <h3>HKU - Dr. Hubert Chan<span>
                                This course equips me the skills to solve problems in an efficient way by covering
                                the concept of time, space complexity and analyze of these complexities.
                                Well-known generic data structures such as tree, queue, stack, as well as
                                algorithms for sorting and searching are introduced. The skills of
                                designing new data structures and algorithms are required
                                to solve various problems in the coursework.
                            </span></h3>
                            <a class="blContinue" href="http://www.cs.hku.hk/programme/beng-cs/course-description.jsp" target="_blank">Website</a>
                        </div>
                    </div>
                    <!--End rcg-->

                    <!--Rcg-->
                    <div class="rcg clearfix ofsBSmall">
                        <div class="rcgIco">
                            <span class="ico"><i class="icon icon-puzzle"></i></span>
                        </div>

                        <div class="rcgDet">
                            <h1><a href="http://cs.umd.edu/class/spring2016/cmsc422/" target="_href">
                                Machine Learning
                            </a></h1>
                            <h3>UMD - Dr. Marine Carpuat <span>
                                Machine learning is all about pattern recognition in data to get computers to
                                solve complex problems. The course covers the basic techniques in Machine Learning,
                                which are simple but broadly applicable. The formalization and implementation
                                of the generalization process was introduced.
                            </span></h3>
                            <a class="blContinue" href="http://cs.umd.edu/class/spring2016/cmsc422/" target="_blank">Website</a>
                        </div>
                    </div>
                    <!--End rcg-->


                </div>
                <!--End recognition details-->
            </div>
            <!--End container-->
        </div>
        <!--End recognition holder-->
    </div>
    <!--End recognition-->
    <store-skills></store-skills>
</section>
<!--End resume section-->