<!--Skills-->
<div class="skills ofsTop ">

    <!--Big title-->
    <div class="bigTitle ">
        <h1>my skills and expertise</h1>
        <img src="images/star.png" alt="">
    </div>
    <!--End big title-->

    <!--Container-->
    <div class="container clearfix">


        <!--Small intro-->
        <div class="smallIntro margBottom">
            <p>I am a Creative freelancer i design and develop for the web & mobile
            </p>
        </div>
        <!--End small intro-->

        <!--Skill-->
        <div class="skill ofsInBottom">

            <!--Skill title-->
            <div class="skillTitle ofsInBottom">
                <h1>Programming Skills</h1>
            </div>
            <!--End skill title-->

            <!--Skill inner-->
            <div class="skillInner">
                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">Web Design</div>
                        <div class="percentage progra percent90"></div>
                    </div>
                </div>

                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">Wordpress</div>
                        <div class="percentage progra percent50"></div>
                    </div>
                </div>

                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">Jquery</div>
                        <div class="percentage progra percent60"></div>
                    </div>
                </div>

                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">Html/Css</div>
                        <div class="percentage progra percent95"></div>
                    </div>
                </div>
            </div>
            <!--End skill inner-->
        </div>
        <!--End skill-->

        <!--Skill-->
        <div class="skill ofsInBottom">

            <!--Skill title-->
            <div class="skillTitle ofsInBottom">
                <h1>Programming Skills</h1>
            </div>
            <!--End skill title-->

            <!--Skill inner-->
            <div class="skillInner">
                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">Web Design</div>
                        <div class="percentage progra percent90"></div>
                    </div>
                </div>

                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">Wordpress</div>
                        <div class="percentage progra percent50"></div>
                    </div>
                </div>

                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">Jquery</div>
                        <div class="percentage progra percent60"></div>
                    </div>
                </div>

                <div class="skillBar">
                    <div class="skillbarHolder">
                        <div class="skillbarTitle">Html/Css</div>
                        <div class="percentage progra percent95"></div>
                    </div>
                </div>

            </div>
            <!--End skill inner-->

        </div>
        <!--End skill-->

        <!--Skills content-->
        <div class="skillsContent  twelve columns   margHBottom tLeft">

            <!--Skill-->
            <div class="skill ofsInBottom">

                <!--Skill title-->
                <div class="skillTitle ofsInBottom">
                    <h1>graphic skills</h1>
                </div>
                <!--End skill title-->

                <!--Skill inner-->
                <div class="skillInner">
                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">photoshop</div>
                            <div class="percentage graphic percent90"></div>
                        </div>
                    </div>



                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">indesign</div>
                            <div class="percentage graphic percent70"></div>
                        </div>
                    </div>

                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">illustrator</div>
                            <div class="percentage graphic percent60"></div>
                        </div>
                    </div>

                </div>
                <!--End skill inner-->
            </div>
            <!--End skill-->


            <!--Skill-->
            <div class="skill ofsInBottom">

                <!--Skill title-->
                <div class="skillTitle ofsBSmall">
                    <h1>personal skills</h1>
                </div>
                <!--End skill title-->


                <!--Skill inner-->
                <div class="skillInner">
                    <div class="introSkill">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                            officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            Et harum quidem rerum facilis est et expedita distinctio iusto odio dignissimos ducimus qui blanditiis. </p>
                    </div>


                    <div class="personal ofsTSmall clearfix">
                        <ul class="pList">
                            <li><i class="fa fa-arrow-circle-o-right"></i>Responsible</li>
                            <li><i class="fa fa-arrow-circle-o-right"></i>Diligence</li>
                            <li><i class="fa fa-arrow-circle-o-right"></i>Labour</li>
                            <li><i class="fa fa-arrow-circle-o-right"></i>Rigor</li>
                        </ul>


                        <ul class="pList">
                            <li><i class="fa fa-arrow-circle-o-right"></i>Creative</li>
                            <li><i class="fa fa-arrow-circle-o-right"></i>Funny</li>
                            <li><i class="fa fa-arrow-circle-o-right"></i>Great Communicator</li>
                            <li><i class="fa fa-arrow-circle-o-right"></i>Flexible</li>
                        </ul>


                        <ul class="pList">
                            <li><i class="fa fa-arrow-circle-o-right"></i>Personal integrity</li>
                            <li><i class="fa fa-arrow-circle-o-right"></i>Positive work ethic</li>
                            <li><i class="fa fa-arrow-circle-o-right"></i>Team oriented</li>
                            <li><i class="fa fa-arrow-circle-o-right"></i>Reliability</li>

                        </ul>

                    </div>


                </div>
                <!--End skill inner-->


            </div>
            <!--End skill-->



            <!--Skill-->
            <div class="skill ofsBMedium">

                <!--Skill title-->
                <div class="skillTitle ofsBSmall">
                    <h1>languages skills</h1>
                </div>
                <!--End skill title-->


                <!--Skill inner-->
                <div class="skillInner">
                    <ul class="langList clearfix">
                        <li>
                            <h4>English</h4>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span class="transparent"><i class="fa fa-star"></i></span>
                            </div>
                        </li>
                        <li>
                            <h4>Cantonese</h4>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </li>
                        <li>
                            <h4>Mandarin</h4>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span class="transparent"><i class="fa fa-star"></i></span>
                                <span class="transparent"><i class="fa fa-star"></i></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--End skill inner-->
            </div>
            <!--End skill-->

            <!--Bet Buttons-->
            <div class="getBtn">

                <div class="getCv">
                    <a href="#"><i class="fa fa-arrow-circle-o-down"></i>
                        <h3>Download My CV</h3>
                    </a>
                </div>

                <div class="printCV">
                    <a href="#"><i class="fa fa-print"></i>
                        <h3>print My CV</h3>
                    </a>
                </div>

            </div>
            <!--End get buttons--
        </div>
        <!--End skills content-->
        </div>
        <!--End container-->
    </div>
    <!--End skills-->