<!--Skills-->
<div class="skills ofsTop ">

    <!--Big title-->
    <div class="bigTitle ">
        <h1>my skills and expertise</h1>
        <img src="images/star.png" alt="">
    </div>
    <!--End big title-->

    <!--Container-->
    <div class="container clearfix">


        <!--Small intro-->
        <div class="smallIntro margBottom">
            <p style="font-size: 18px;">Most of my practical skills are acquired by doing.<br>
                I am a passionate mobile, web and server developer.
            </p>
        </div>
        <!--End small intro-->


        <!--Skills content-->
        <div class="skillsContent  twelve columns   margHBottom tLeft">

            <!--Skill-->
            <div class="skill ofsInBottom">

                <!--Skill title-->
                <div class="skillTitle ofsInBottom">
                    <h1>Coding Skills</h1>
                </div>
                <!--End skill title-->

                <!--Skill inner-->
                <div class="skillInner">
                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">iOS (Swift)</div>
                            <div class="percentage progra percent90"></div>
                        </div>
                    </div>

                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">AngularJS (with HTML & CSS)</div>
                            <div class="percentage progra percent70"></div>
                        </div>
                    </div>

                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">NodeJS with MongoDB</div>
                            <div class="percentage progra percent85"></div>
                        </div>
                    </div>

                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">PHP with MySQL</div>
                            <div class="percentage progra percent80"></div>
                        </div>
                    </div>
                </div>
                <!--End skill inner-->
            </div>
            <!--End skill-->

            <!--Skill-->
            <div class="skill ofsInBottom">

                <!--Skill title-->
                <div class="skillTitle ofsInBottom">
                    <h1>graphic skills</h1>
                </div>
                <!--End skill title-->

                <!--Skill inner-->
                <div class="skillInner">
                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">Photoshop</div>
                            <div class="percentage graphic percent90"></div>
                        </div>
                    </div>



                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">Indesign</div>
                            <div class="percentage graphic percent70"></div>
                        </div>
                    </div>

                    <div class="skillBar">
                        <div class="skillbarHolder">
                            <div class="skillbarTitle">Unreal Engine</div>
                            <div class="percentage graphic percent50"></div>
                        </div>
                    </div>

                </div>
                <!--End skill inner-->
            </div>
            <!--End skill-->


            <!--Skill-->
            <div class="skill ofsInBottom">



            </div>
            <!--End skill-->



            <!--Skill-->
            <div class="skill ofsBMedium">

                <!--Skill title-->
                <div class="skillTitle ofsBSmall">
                    <h1>languages</h1>
                </div>
                <!--End skill title-->


                <!--Skill inner-->
                <div class="skillInner">
                    <ul class="langList clearfix">
                        <li>
                            <h4>English</h4>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span class="transparent"><i class="fa fa-star"></i></span>
                            </div>
                        </li>
                        <li>
                            <h4>Cantonese</h4>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </li>
                        <li>
                            <h4>Mandarin</h4>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span class="transparent"><i class="fa fa-star"></i></span>
                                <span class="transparent"><i class="fa fa-star"></i></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--End skill inner-->
            </div>
            <!--End skill-->

            <!--Bet Buttons-->
            <div class="getBtn">

                <div class="getCv">
                    <a href="../docs/resume_hinneslung.pdf" target="_blank"><i class="fa fa-arrow-circle-o-down"></i>
                        <h3>Download My resume</h3>
                    </a>
                </div>

            </div>
            <!--End get buttons--
        </div>
        <!--End skills content-->
        </div>
        <!--End container-->
    </div>
    <!--End skills-->